{% extends 'base.html' %}

{% block head %}
<title>вопрос</title>
{% endblock %}

{% block body%}
<div class="container my-5 ">
        
    
    <div class="row">
        <div class="mx-5">
        <div class=" mx-5">
            Сейчас вам будет предложен набор графических заданий. Они объединены в группы по трем уровням сложности. В верхнем левом углу окна отображается текуший уровень сложности.<br>
            На каждом отдельном рисунке в верхней половине листа находится прямоугольник, имеющий определенный фон или
             составные элементы (фигуры), связанные между собой некоей зависимостью. <br>
            В правом нижнем углу прямоуголь­ника имеется вырез - свободное, пустое место. 
            Под прямоугольником нахо­дится 2 ряда фрагментов (шесть или восемь), которые по форме и величине 
            точно подходят к вырезу прямоугольника. <br>
            Каждый предложенный фрагмент имеет различный рисунок. Ваша задача - найти в ряде 
            фрагментов тот, который точно вписался бы в свободное место.<br>
            Предпосылкой правильного решения является логиче­ское рассуждение о том, по какому принципу 
            составлено изображение в прямоугольнике.<br>
            Пожалуйста, не проходите тестирование дважды.
        </div>
    </div>
    </div>
    
    <div class="container my-5 ">
        <form role="form" action="/start.html" method="GET">
            <div class="row">
                <div class="col text-center">
                    <input class="btn btn-primary w-50" type="submit" value="Начать">
                </div>
            </div>
        </form>
    </div>
    </div>
{% endblock %}