{% extends 'base.html' %}

{% block head %}
<title>вопрос</title>
{% endblock %}

{% block body%}
<div class="container my-5 ">
        
    
    <div class="row fs-3" >
        <div class="mx-5">
        <div class=" mx-5">
            Необходимо подобрать картинку, которая подходит в пустое место на рисунке <br>
            Время ответов может повлиять на финальный результат. Не следует торопиться, но и затягивать с решением тоже не стоит  <br>
            Предпосылкой правильного решения является логиче­ское рассуждение о том, по какому принципу 
            составлено изображение в прямоугольнике.<br>
            Можно пройти несколько раз под одним никемом. <br>
            Тестирование закончится автоматически.
        </div>
    </div>
    </div>
    
    <div class="container my-5 ">
        <form role="form" action="/start.html" method="POST">
            <div class="row">
                <div class="col text-center">
                    <input type="text" name="surname" placeholder="Фамилия или никнейм" class="surn">
                    
                </div>
            </div>
            
            <div class="row">
                <div class="col text-center">
                    <input type="number" name="age" placeholder="Возраст" class="surn">
                    
                </div>
            </div>
            
            <div class="row">
                <div class="col text-center">
                    
                    <input class="btn btn-primary w-50" type="submit" value="Начать">
                </div>
            </div>
        </form>
    </div>
    </div>
{% endblock %}