{% extends 'base.html' %}

{% block head %}
<title>начать</title>
{% endblock %}

{% block body%}






<div class="container my-5 ">
    
        <div class="row">
            <div class="mx-5">
            <div class=" mx-5">
                Сейчас вы перейдете к прохождению теста, вам необходимо ответить на вопросы за 15 минут.<br>
                Вы можете завершить прохождение досрочно, нажав на кнопку внизу страниы.<br>
                После прохождения этого теста вы увидите количесво набранных баллов. Это поможет нам интерпретировать результаты прохождения основного тестирования<br>
                В ходе тестирования будет отдельно оценена вербальная и невербальная часть интеллекта.<br>
                В состав теста входят субтесты, отображающие разные аспекты развития интеллекта, не спешите и отвечайте внимательно, основная доля<br> вопросов будет содержать в себе выборы вариантов ответа, но так же будут вопросы, где ответ нужно ввести самостоятельно.
            </div>
        </div>
        </div>

</div>
<div class="container my-5 ">
    <form role="form" action="/veksler_start.html" method="GET">
        <div class="row">
            <div class="col text-center">
                <input class="btn btn-primary w-50" type="submit" value="Начать">
            </div>
        </div>
    </form>
</div>
<div class="container">
   
        <div class="row">
            <div class="col text-center">
               Для правильной оценки результатов, просим Вас, не проходить тестрование дважды
            </div>
        </div>

</div>
{% endblock %}
