{% extends 'base.html' %}

{% block head %}
<title>вопрос</title>
{% endblock %}

{% block body%}
<div class="card p-1 bg-none border-0">
    <div class="container">
        <div class="col-12 my-3">
            <img class="mx-auto d-block m-2 rounded" src="/static/images/images/{{question['question_img']}}">
            <div class="col text-center">
                {%for i in range(1,question['col_answers']+1): %}
                <button onclick="send_answer({{i}} == {{question['rigth_answ']}})"
                    class="btn btn-primary m-1 px-5">{{i}}</button>
                {%endfor%}
            </div>
        </div>

    </div>
</div>
</div>

<script>
    function send_answer(a) {
        console.log('запрашиваю следующий вопрос0')
        $.post(
            "/send_answer",
            data = {
                answer: a
            },
            success = function (result) {
                location.href = '/next_question.html'
            }
        )
    } 
</script>
{% endblock %}