{% extends 'base.html' %}

{% block head %}
<title>Тестирование</title>
<style>
    
#topNavLine {
    width: 100%;
    height: 60px;
    background: #6B2F6B;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 0; 
}
.marg-top{
    margin-bottom: 50px !important; 
}
</style>
{% endblock %}



{% block body%}

<div id="topNavLine">
    <h3 class="text-white m-2">Время до окончания: <h3>
</div>
<p class="marg-top">Начало</p>
  
<form role="form" action="/start.html" method="GET">
<table width="95%" border="1" cellpadding="0" cellspacing="0" align="center" id="table22"><tbody><tr><th align="center" width="70">
<font color="#990000" face="Arial"></font></th><th align="center">
<font color="#990000" face="Arial"></font></th><th width="350" align="center">
<font color="#990000" face="Arial"></font></th></tr>
<tr>
<td align="center"> <font size="4" color="#990000">1</font></td>
<td align="center">
    <b>
        <font color="">Продавец на рынке продает шапку. Стоит 10 рубдей Подходит покупатель, меряет и согласен взять. Но у него есть только 25 руб. Продавец отсылает мальчика с этими 25 руб. к соседке разменять. Мальчик прибегает и отдает 10+10+5 руб. Продавец отдает шапку и сдачу в 15 руб, а 10 руб. оставляет себе. Через некоторое время приходит соседка и говорит, что 25 руб. фальшивые, требует отдать ей деньги. Продавец возвращает ей деньги. На сколько обманули продавца?</font>
    </b>
</td>
<td>
<table width="100%" height="100%" border="1" cellpadding="0" cellspacing="0" align="center" id="table23">	<tbody><tr>
        <td width="50" align="center" valign="middle">
            <input type="checkbox" name="C109" value="ON">
        </td>
        <td id_tdc2="s1" align="left" valign="middle">
                <font color="">0</font>
        </td>
    </tr>	<tr>
        <td id_tdc1="s1x2" width="50" align="center" valign="middle">
            <input type="checkbox" name="C108" value="ON">
        </td>
        <td id_tdc2="s1" align="left" valign="middle">
                <font color="">5</font>
        </td>
    </tr>	<tr>
        <td id_tdc1="s1x3" width="50" align="center" valign="middle">
            <input type="checkbox" name="C107" value="ON">
        </td>
        <td id_tdc2="s1" align="left" valign="middle">
                <font color="">10</font>
        </td>
    </tr>	<tr>
        <td id_tdc1="s1x4" width="50" align="center" valign="middle">
            <input type="checkbox" name="C106" value="ON">
        </td>
        <td id_tdc2="s1" align="left" valign="middle">
                <font color="">15</font>
        </td>
    </tr>	<tr>
        <td id_tdc1="s1x5" width="50" align="center" valign="middle">
            <input type="checkbox" name="C105" value="ON">
        </td>
        <td id_tdc2="s1" align="left" valign="middle">
                <font color="">20</font>
        </td>
    </tr>	<tr>
        <td id_tdc1="s1x6" width="50" align="center" valign="middle">
            <input type="checkbox" name="C104" value="ON">
        </td>
        <td id_tdc2="s1" align="left" valign="middle">
                <font color="">25</font>
        </td>
    </tr>	<tr>
        <td id_tdc1="s1x7" width="50" align="center" valign="middle">
            <input type="checkbox" name="C103" value="ON">
        </td>
        <td id_tdc2="s1" align="left" valign="middle">
                <font color="">30</font>
        </td>
    </tr>	<tr>
        <td id_tdc1="s1x8" width="50" align="center" valign="middle">
            <input type="checkbox" name="C102" value="ON">
        </td>
        <td id_tdc2="s1" align="left" valign="middle">
                <font color="">35</font>
        </td>
    </tr>	<tr>
        <td id_tdc1="s1x9" width="50" align="center" valign="middle">
            <input type="checkbox" name="C101" value="ON">
        </td>
        <td id_tdc2="s1" align="left" valign="middle">
                <font color="">40</font>
        </td>
    </tr>	<tr>
        <td id_tdc1="s1x10" width="50" align="center" valign="middle">
            <input type="checkbox" name="C100" value="ON">
        </td>
        <td id_tdc2="s1" align="left" valign="middle">
                <font color="">50</font>
        </td>
    </tr></tbody></table></td></tr>
<tr class="r_gray" my_class="r_gray" line_type="vopros">
<td align="center"> <font size="4" color="#990000">2</font></td>
<td align="center">
    <b>
        <font color="">Площадь Белорусии составляет 4% от площади России, а площадь России от площади Белорусии... </font>
    </b>
</td>
<td>
<table width="100%" height="100%" border="1" cellpadding="0" cellspacing="0" align="center" id="table24">	<tbody><tr>
        <td id_tdc1="s2x1" width="50" align="center" valign="middle">
            <input type="checkbox" name="C99" value="ON">
        </td>
        <td id_tdc2="s2" align="left" valign="middle">
                <font color="">4%</font>
        </td>
    </tr>	<tr>
        <td id_tdc1="s2x2" width="50" align="center" valign="middle">
            <input type="checkbox" name="C98" value="ON">
        </td>
        <td id_tdc2="s2" align="left" valign="middle">
                <font color="">25%</font>
        </td>
    </tr>	<tr>
        <td id_tdc1="s2x3" width="50" align="center" valign="middle">
            <input type="checkbox" name="C97" value="ON">
        </td>
        <td id_tdc2="s2" align="left" valign="middle">
                <font color="">40%</font>
        </td>
    </tr>	<tr>
        <td id_tdc1="s2x4" width="50" align="center" valign="middle">
            <input type="checkbox" name="C96" value="ON">
        </td>
        <td id_tdc2="s2" align="left" valign="middle">
                <font color="">96%</font>
        </td>
    </tr>	<tr>
        <td id_tdc1="s2x5" width="50" align="center" valign="middle">
            <input type="checkbox" name="C95" value="ON">
        </td>
        <td id_tdc2="s2" align="left" valign="middle">
                <font color="">400%</font>
        </td>
    </tr>	<tr>
        <td id_tdc1="s2x6" width="50" align="center" valign="middle">
            <input type="checkbox" name="C94" value="ON">
        </td>
        <td id_tdc2="s2" align="left" valign="middle">
                <font color="">250%</font>
        </td>
    </tr>	<tr>
        <td id_tdc1="s2x7" width="50" align="center" valign="middle">
            <input type="checkbox" name="C93" value="ON">
        </td>
        <td id_tdc2="s2" align="left" valign="middle">
                <font color="">2500%</font>
        </td>
    </tr></tbody></table></td></tr>
<tr>
<td align="center"> <font size="4" color="#990000">3</font></td>
<td align="center">
    <b>
        <font color="">Вы участвуете в марафоне и обогнали бегуна, бежавшего вторым. Какую позицию вы теперь занимаете? </font>
    </b>
</td>
<td>
<table width="100%" height="100%" border="1" cellpadding="0" cellspacing="0" align="center" id="table25">	<tbody><tr>
        <td id_tdc1="s3x1" width="50" align="center" valign="middle">
            <input type="checkbox" name="C92" value="ON">
        </td>
        <td id_tdc2="s3" align="left" valign="middle">
                <font color="">первую</font>
        </td>
    </tr>	<tr>
        <td id_tdc1="s3x2" width="50" align="center" valign="middle">
            <input type="checkbox" name="C91" value="ON">
        </td>
        <td id_tdc2="s3" align="left" valign="middle">
                <font color="">вторую</font>
        </td>
    </tr>	<tr>
        <td id_tdc1="s3x3" width="50" align="center" valign="middle">
            <input type="checkbox" name="C90" value="ON">
        </td>
        <td id_tdc2="s3" align="left" valign="middle">
                <font color="">третью</font>
        </td>
    </tr>	<tr>
        <td id_tdc1="s3x4" width="50" align="center" valign="middle">
            <input type="checkbox" name="C88" value="ON">
        </td>
        <td id_tdc2="s3" align="left" valign="middle">
                <font color="">последнюю</font>
        </td>
    </tr>	<tr>
        <td id_tdc1="s3x5" width="50" align="center" valign="middle">
            <input type="checkbox" name="C89" value="ON">
        </td>
        <td id_tdc2="s3" align="left" valign="middle">
                <font color="">такое невозможно</font>
        </td>
    </tr></tbody></table></td></tr>
<tr class="r_gray" my_class="r_gray" line_type="vopros">
<td align="center"> <font size="4" color="#990000">4</font></td>
<td align="center">
    <b>
        <font color="">Вы участвуете в марафоне и обогнали бегуна, бежавшего последним. Какую позицию вы теперь занимаете? </font>
    </b>
</td>
<td>
<table width="100%" height="100%" border="1" cellpadding="0" cellspacing="0" align="center" id="table26">	<tbody><tr>
        <td id_tdc1="s4x1" width="50" align="center" valign="middle">
            <input type="checkbox" name="C87" value="ON">
        </td>
        <td id_tdc2="s4" align="left" valign="middle">
                <font color="">первую</font>
        </td>
    </tr>	<tr>
        <td id_tdc1="s4x2" width="50" align="center" valign="middle">
            <input type="checkbox" name="C86" value="ON">
        </td>
        <td id_tdc2="s4" align="left" valign="middle">
                <font color="">вторую</font>
        </td>
    </tr>	<tr>
        <td id_tdc1="s4x3" width="50" align="center" valign="middle">
            <input type="checkbox" name="C85" value="ON">
        </td>
        <td id_tdc2="s4" align="left" valign="middle">
                <font color="">предпоследнюю</font>
        </td>
    </tr>	<tr>
        <td id_tdc1="s4x4" width="50" align="center" valign="middle">
            <input type="checkbox" name="C84" value="ON">
        </td>
        <td id_tdc2="s4" align="left" valign="middle">
                <font color="">последнюю</font>
        </td>
    </tr>	<tr>
        <td id_tdc1="s4x5" width="50" align="center" valign="middle">
            <input type="checkbox" name="C83" value="ON">
        </td>
        <td id_tdc2="s4" align="left" valign="middle">
                <font color="">такое невозможно</font>
        </td>
    </tr></tbody></table></td></tr>
<tr>
<td align="center"> <font size="4" color="#990000">5</font></td>
<td align="center">
    <b>
        <font color="">Есть в США 23 февраля? </font>
    </b>
</td>
<td>
<table width="100%" height="100%" border="1" cellpadding="0" cellspacing="0" align="center" id="table27">	<tbody><tr>
        <td id_tdc1="s5x1" width="50" align="center" valign="middle">
            <input type="checkbox" name="C81" value="ON">
        </td>
        <td id_tdc2="s5" align="left" valign="middle">
                <font color="">да</font>
        </td>
    </tr>	<tr>
        <td id_tdc1="s5x2" width="50" align="center" valign="middle">
            <input type="checkbox" name="C82" value="ON">
        </td>
        <td id_tdc2="s5" align="left" valign="middle">
                <font color="">нет</font>
        </td>
    </tr>	<tr>
        <td id_tdc1="s5x3" width="50" align="center" valign="middle">
            <input type="checkbox" name="C80" value="ON">
        </td>
        <td id_tdc2="s5" align="left" valign="middle">
                <font color="">только у мужчин</font>
        </td>
    </tr>	<tr>
        <td id_tdc1="s5x4" width="50" align="center" valign="middle">
            <input type="checkbox" name="C78" value="ON">
        </td>
        <td id_tdc2="s5" align="left" valign="middle">
                <font color="">только у мужчин, старше 18 лет</font>
        </td>
    </tr>	<tr>
        <td id_tdc1="s5x5" width="50" align="center" valign="middle">
            <input type="checkbox" name="C79" value="ON">
        </td>
        <td id_tdc2="s5" align="left" valign="middle">
                <font color="">только у военных</font>
        </td>
    </tr></tbody></table></td></tr>
<tr class="r_gray" my_class="r_gray" line_type="vopros">
<td align="center"> <font size="4" color="#990000">6</font></td>
<td align="center">
    <b>
        <font color="">Винни-Пух - это... </font>
    </b>
</td>
<td>
<table width="100%" height="100%" border="1" cellpadding="0" cellspacing="0" align="center" id="table28">	<tbody><tr>
        <td id_tdc1="s6x1" width="50" align="center" valign="middle">
            <input type="checkbox" name="C77" value="ON">
        </td>
        <td id_tdc2="s6" align="left" valign="middle">
                <font color="">поросенок</font>
        </td>
    </tr>	<tr>
        <td id_tdc1="s6x2" width="50" align="center" valign="middle">
            <input type="checkbox" name="C76" value="ON">
        </td>
        <td id_tdc2="s6" align="left" valign="middle">
                <font color="">свинья</font>
        </td>
    </tr>	<tr>
        <td id_tdc1="s6x3" width="50" align="center" valign="middle">
            <input type="checkbox" name="C75" value="ON">
        </td>
        <td id_tdc2="s6" align="left" valign="middle">
                <font color="">кабан</font>
        </td>
    </tr>	<tr>
        <td id_tdc1="s6x4" width="50" align="center" valign="middle">
            <input type="checkbox" name="C74" value="ON">
        </td>
        <td id_tdc2="s6" align="left" valign="middle">
                <font color="">хряк</font>
        </td>
    </tr>	<tr>
        <td id_tdc1="s6x5" width="50" align="center" valign="middle">
            <input type="checkbox" name="C73" value="ON">
        </td>
        <td id_tdc2="s6" align="left" valign="middle">
                <font color="">ни одно из вышеперечисленных</font>
        </td>
    </tr></tbody></table></td></tr>
<tr>
<td align="center"> <font size="4" color="#990000">7</font></td>
<td align="center">
    <b>
        <font color="">От прямоугольного стола отпилили один угол. Сколько углов у стола стало? Примечание: линия отпила прямая и не проходит через углы </font>
    </b>
</td>
<td>
<table width="100%" height="100%" border="1" cellpadding="0" cellspacing="0" align="center" id="table29">	<tbody><tr>
        <td id_tdc1="s7x1" width="50" align="center" valign="middle">
            <input type="checkbox" name="C72" value="ON">
        </td>
        <td id_tdc2="s7" align="left" valign="middle">
                <font color="">0</font>
        </td>
    </tr>	<tr>
        <td id_tdc1="s7x2" width="50" align="center" valign="middle">
            <input type="checkbox" name="C71" value="ON">
        </td>
        <td id_tdc2="s7" align="left" valign="middle">
                <font color="">1</font>
        </td>
    </tr>	<tr>
        <td id_tdc1="s7x3" width="50" align="center" valign="middle">
            <input type="checkbox" name="C70" value="ON">
        </td>
        <td id_tdc2="s7" align="left" valign="middle">
                <font color="">2</font>
        </td>
    </tr>	<tr>
        <td id_tdc1="s7x4" width="50" align="center" valign="middle">
            <input type="checkbox" name="C69" value="ON">
        </td>
        <td id_tdc2="s7" align="left" valign="middle">
                <font color="">3</font>
        </td>
    </tr>	<tr>
        <td id_tdc1="s7x5" width="50" align="center" valign="middle">
            <input type="checkbox" name="C68" value="ON">
        </td>
        <td id_tdc2="s7" align="left" valign="middle">
                <font color="">4</font>
        </td>
    </tr>	<tr>
        <td id_tdc1="s7x6" width="50" align="center" valign="middle">
            <input type="checkbox" name="C67" value="ON">
        </td>
        <td id_tdc2="s7" align="left" valign="middle">
                <font color="">5</font>
        </td>
    </tr>	<tr>
        <td id_tdc1="s7x7" width="50" align="center" valign="middle">
            <input type="checkbox" name="C66" value="ON">
        </td>
        <td id_tdc2="s7" align="left" valign="middle">
                <font color="">6</font>
        </td>
    </tr></tbody></table></td></tr>
<tr class="r_gray" my_class="r_gray" line_type="vopros">
<td align="center"> <font size="4" color="#990000">8</font></td>
<td align="center">
    <b>
        <font color="">Сколько животных взял Моисей на свой ковчег? </font>
    </b>
</td>
<td>
<table width="100%" height="100%" border="1" cellpadding="0" cellspacing="0" align="center" id="table30">	<tbody><tr>
        <td id_tdc1="s8x1" width="50" align="center" valign="middle">
            <input type="checkbox" name="C65" value="ON">
        </td>
        <td id_tdc2="s8" align="left" valign="middle">
                <font color="">по одному каждого вида</font>
        </td>
    </tr>	<tr>
        <td id_tdc1="s8x2" width="50" align="center" valign="middle">
            <input type="checkbox" name="C64" value="ON">
        </td>
        <td id_tdc2="s8" align="left" valign="middle">
                <font color="">по два каждого вида</font>
        </td>
    </tr>	<tr>
        <td id_tdc1="s8x3" width="50" align="center" valign="middle">
            <input type="checkbox" name="C63" value="ON">
        </td>
        <td id_tdc2="s8" align="left" valign="middle">
                <font color="">неограниченное количество</font>
        </td>
    </tr>	<tr>
        <td id_tdc1="s8x4" width="50" align="center" valign="middle">
            <input type="checkbox" name="C62" value="ON">
        </td>
        <td id_tdc2="s8" align="left" valign="middle">
                <font color="">ни одно из вышеперечисленных</font>
        </td>
    </tr></tbody></table></td></tr>
<tr>
<td align="center"> <font size="4" color="#990000">9</font></td>
<td align="center">
    <b>
        <font color="">На столе лежали три редиски и четыре яблока. Ребенок взял со стола одно яблоко. Сколько фруктов осталось на столе? </font>
    </b>
</td>
<td>
<table width="100%" height="100%" border="1" cellpadding="0" cellspacing="0" align="center" id="table31">	<tbody><tr>
        <td id_tdc1="s9x1" width="50" align="center" valign="middle">
            <input type="checkbox" name="C61" value="ON">
        </td>
        <td id_tdc2="s9" align="left" valign="middle">
                <font color="">0</font>
        </td>
    </tr>	<tr>
        <td id_tdc1="s9x2" width="50" align="center" valign="middle">
            <input type="checkbox" name="C60" value="ON">
        </td>
        <td id_tdc2="s9" align="left" valign="middle">
                <font color="">1</font>
        </td>
    </tr>	<tr>
        <td id_tdc1="s9x3" width="50" align="center" valign="middle">
            <input type="checkbox" name="C59" value="ON">
        </td>
        <td id_tdc2="s9" align="left" valign="middle">
                <font color="">2</font>
        </td>
    </tr>	<tr>
        <td id_tdc1="s9x4" width="50" align="center" valign="middle">
            <input type="checkbox" name="C58" value="ON">
        </td>
        <td id_tdc2="s9" align="left" valign="middle">
                <font color="">3</font>
        </td>
    </tr>	<tr>
        <td id_tdc1="s9x5" width="50" align="center" valign="middle">
            <input type="checkbox" name="C57" value="ON">
        </td>
        <td id_tdc2="s9" align="left" valign="middle">
                <font color="">4</font>
        </td>
    </tr>	<tr>
        <td id_tdc1="s9x6" width="50" align="center" valign="middle">
            <input type="checkbox" name="C56" value="ON">
        </td>
        <td id_tdc2="s9" align="left" valign="middle">
                <font color="">5</font>
        </td>
    </tr>	<tr>
        <td id_tdc1="s9x7" width="50" align="center" valign="middle">
            <input type="checkbox" name="C55" value="ON">
        </td>
        <td id_tdc2="s9" align="left" valign="middle">
                <font color="">6</font>
        </td>
    </tr>	<tr>
        <td id_tdc1="s9x8" width="50" align="center" valign="middle">
            <input type="checkbox" name="C54" value="ON">
        </td>
        <td id_tdc2="s9" align="left" valign="middle">
                <font color="">7</font>
        </td>
    </tr></tbody></table></td></tr>
<tr class="r_gray" my_class="r_gray" line_type="vopros">
<td align="center"> <font size="4" color="#990000">10</font></td>
<td align="center">
    <b>
        <font color="">Расстояние между пунктами А и В 500 км. Из пункта А в пункт В выехал автомобиль со скоростью 100 км./ч. Одновременно навстречу ему из пункта В в пункт А выехал другой автомобиль со скоростью 120 км./ч. Кто из них будет ближе к пункту А, когда они встретятся? P.S. Автомобиль считать материальной точкой. </font>
    </b>
</td>
<td>
<table width="100%" height="100%" border="1" cellpadding="0" cellspacing="0" align="center" id="table32">	<tbody><tr>
        <td id_tdc1="s10x1" width="50" align="center" valign="middle">
            <input type="checkbox" name="C53" value="ON">
        </td>
        <td id_tdc2="s10" align="left" valign="middle">
                <font color="">первый автомобиль</font>
        </td>
    </tr>	<tr>
        <td id_tdc1="s10x2" width="50" align="center" valign="middle">
            <input type="checkbox" name="C52" value="ON">
        </td>
        <td id_tdc2="s10" align="left" valign="middle">
                <font color="">второй автомобиль</font>
        </td>
    </tr>	<tr>
        <td id_tdc1="s10x3" width="50" align="center" valign="middle">
            <input type="checkbox" name="C51" value="ON">
        </td>
        <td id_tdc2="s10" align="left" valign="middle">
                <font color="">на одинаковом расстоянии</font>
        </td>
    </tr>	<tr>
        <td id_tdc1="s10x4" width="50" align="center" valign="middle">
            <input type="checkbox" name="C50" value="ON">
        </td>
        <td id_tdc2="s10" align="left" valign="middle">
                <font color="">они не встретятся</font>
        </td>
    </tr>	<tr>
        <td id_tdc1="s10x5" width="50" align="center" valign="middle">
            <input type="checkbox" name="C49" value="ON">
        </td>
        <td id_tdc2="s10" align="left" valign="middle">
                <font color="">ни одно из вышеперечисленных</font>
        </td>
    </tr></tbody></table></td></tr>
<tr>
<td align="center"> <font size="4" color="#990000">11</font></td>
<td align="center">
    <b>
        <font color="">Товар сначала подорожал на 10%, а потом подешевел на 10%. Какова его стоимость сейчас относительно первоначальной? </font>
    </b>
</td>
<td>
<table width="100%" height="100%" border="1" cellpadding="0" cellspacing="0" align="center" id="table33">	<tbody><tr>
        <td id_tdc1="s11x1" width="50" align="center" valign="middle">
            <input type="checkbox" name="C48" value="ON">
        </td>
        <td id_tdc2="s11" align="left" valign="middle">
                <font color="">0%</font>
        </td>
    </tr>	<tr>
        <td id_tdc1="s11x2" width="50" align="center" valign="middle">
            <input type="checkbox" name="C47" value="ON">
        </td>
        <td id_tdc2="s11" align="left" valign="middle">
                <font color="">90%</font>
        </td>
    </tr>	<tr>
        <td id_tdc1="s11x3" width="50" align="center" valign="middle">
            <input type="checkbox" name="C46" value="ON">
        </td>
        <td id_tdc2="s11" align="left" valign="middle">
                <font color="">99%</font>
        </td>
    </tr>	<tr>
        <td id_tdc1="s11x4" width="50" align="center" valign="middle">
            <input type="checkbox" name="C45" value="ON">
        </td>
        <td id_tdc2="s11" align="left" valign="middle">
                <font color="">100%</font>
        </td>
    </tr>	<tr>
        <td id_tdc1="s11x5" width="50" align="center" valign="middle">
            <input type="checkbox" name="C44" value="ON">
        </td>
        <td id_tdc2="s11" align="left" valign="middle">
                <font color="">101%</font>
        </td>
    </tr>	<tr>
        <td id_tdc1="s11x6" width="50" align="center" valign="middle">
            <input type="checkbox" name="C43" value="ON">
        </td>
        <td id_tdc2="s11" align="left" valign="middle">
                <font color="">110%</font>
        </td>
    </tr>	<tr>
        <td id_tdc1="s11x7" width="50" align="center" valign="middle">
            <input type="checkbox" name="C41" value="ON">
        </td>
        <td id_tdc2="s11" align="left" valign="middle">
                <font color="">111%</font>
        </td>
    </tr>	<tr>
        <td id_tdc1="s11x8" width="50" align="center" valign="middle">
            <input type="checkbox" name="C42" value="ON">
        </td>
        <td id_tdc2="s11" align="left" valign="middle">
                <font color="">ни одно из вышеперечисленных</font>
        </td>
    </tr></tbody></table></td></tr>
<tr class="r_gray" my_class="r_gray" line_type="vopros">
<td align="center"> <font size="4" color="#990000">12</font></td>
<td align="center">
    <b>
        <font color="">Сколько раз встречается цифра 4 в целых числах от 1 до 50? </font>
    </b>
</td>
<td>
<table width="100%" height="100%" border="1" cellpadding="0" cellspacing="0" align="center" id="table34">	<tbody><tr>
        <td id_tdc1="s12x1" width="50" align="center" valign="middle">
            <input type="checkbox" name="C40" value="ON">
        </td>
        <td id_tdc2="s12" align="left" valign="middle">
                <font color="">1</font>
        </td>
    </tr>	<tr>
        <td id_tdc1="s12x2" width="50" align="center" valign="middle">
            <input type="checkbox" name="C39" value="ON">
        </td>
        <td id_tdc2="s12" align="left" valign="middle">
                <font color="">4</font>
        </td>
    </tr>	<tr>
        <td id_tdc1="s12x3" width="50" align="center" valign="middle">
            <input type="checkbox" name="C38" value="ON">
        </td>
        <td id_tdc2="s12" align="left" valign="middle">
                <font color="">5</font>
        </td>
    </tr>	<tr>
        <td id_tdc1="s12x4" width="50" align="center" valign="middle">
            <input type="checkbox" name="C37" value="ON">
        </td>
        <td id_tdc2="s12" align="left" valign="middle">
                <font color="">6</font>
        </td>
    </tr>	<tr>
        <td id_tdc1="s12x5" width="50" align="center" valign="middle">
            <input type="checkbox" name="C36" value="ON">
        </td>
        <td id_tdc2="s12" align="left" valign="middle">
                <font color="">10</font>
        </td>
    </tr>	<tr>
        <td id_tdc1="s12x6" width="50" align="center" valign="middle">
            <input type="checkbox" name="C35" value="ON">
        </td>
        <td id_tdc2="s12" align="left" valign="middle">
                <font color="">14</font>
        </td>
    </tr>	<tr>
        <td id_tdc1="s12x7" width="50" align="center" valign="middle">
            <input type="checkbox" name="C34" value="ON">
        </td>
        <td id_tdc2="s12" align="left" valign="middle">
                <font color="">15</font>
        </td>
    </tr>	<tr>
        <td id_tdc1="s12x8" width="50" align="center" valign="middle">
            <input type="checkbox" name="C33" value="ON">
        </td>
        <td id_tdc2="s12" align="left" valign="middle">
                <font color="">ни одно из вышеперечисленных</font>
        </td>
    </tr></tbody></table></td></tr>
<tr>
<td align="center"> <font size="4" color="#990000">13</font></td>
<td align="center">
    <b>
        <font color="">При увеличении скорости на 10 км/ч вероятность аварии возрастает в 5 раз. А во сколько раз возрастает вероятность аварии при увеличении скорости на 20 км/ч? </font>
    </b>
</td>
<td>
<table width="100%" height="100%" border="1" cellpadding="0" cellspacing="0" align="center" id="table35">	<tbody><tr>
        <td id_tdc1="s13x1" width="50" align="center" valign="middle">
            <input type="checkbox" name="C32" value="ON">
        </td>
        <td id_tdc2="s13" align="left" valign="middle">
                <font color="">5</font></td>
    </tr>	<tr>
        <td id_tdc1="s13x2" width="50" align="center" valign="middle">
            <input type="checkbox" name="C31" value="ON">
        </td>
        <td id_tdc2="s13" align="left" valign="middle">
                <font color="">10</font></td>
    </tr>	<tr>
        <td id_tdc1="s13x3" width="50" align="center" valign="middle">
            <input type="checkbox" name="C30" value="ON">
        </td>
        <td id_tdc2="s13" align="left" valign="middle">
                <font color="">15</font></td>
    </tr>	<tr>
        <td id_tdc1="s13x4" width="50" align="center" valign="middle">
            <input type="checkbox" name="C29" value="ON">
        </td>
        <td id_tdc2="s13" align="left" valign="middle">
                <font color="">20</font></td>
    </tr>	<tr>
        <td id_tdc1="s13x5" width="50" align="center" valign="middle">
            <input type="checkbox" name="C28" value="ON">
        </td>
        <td id_tdc2="s13" align="left" valign="middle">
                <font color="">25</font></td>
    </tr>	<tr>
        <td id_tdc1="s13x6" width="50" align="center" valign="middle">
            <input type="checkbox" name="C27" value="ON">
        </td>
        <td id_tdc2="s13" align="left" valign="middle">
                <font color="">50</font>
        </td>
    </tr>	<tr>
        <td id_tdc1="s13x7" width="50" align="center" valign="middle">
            <input type="checkbox" name="C26" value="ON">
        </td>
        <td id_tdc2="s13" align="left" valign="middle">
                <font color="">ни одно из вышеперечисленных</font>
        </td>
    </tr></tbody></table></td></tr>
<tr class="r_gray" my_class="r_gray" line_type="vopros">
<td align="center"> <font size="4" color="#990000">14</font></td>
<td align="center">
    <b>
        <font color="">Вы проехали на машине две трети пути. В начале пути бензобак машины был полон, а сейчас он заполнен на одну четверть. Хватит ли бензина до конца пути (при аналогичном расходе)? </font>
    </b>
</td>
<td>
<table width="100%" height="100%" border="1" cellpadding="0" cellspacing="0" align="center" id="table36">	<tbody><tr>
        <td id_tdc1="s14x1" width="50" align="center" valign="middle">
            <input type="checkbox" name="C25" value="ON">
        </td>
        <td id_tdc2="s14" align="left" valign="middle">
                <font color="">да</font>
        </td>
    </tr>	<tr>
        <td id_tdc1="s14x2" width="50" align="center" valign="middle">
            <input type="checkbox" name="C24" value="ON">
        </td>
        <td id_tdc2="s14" align="left" valign="middle">
                <font color="">нет</font>
        </td>
    </tr>	<tr>
        <td id_tdc1="s14x3" width="50" align="center" valign="middle">
            <input type="checkbox" name="C23" value="ON">
        </td>
        <td id_tdc2="s14" align="left" valign="middle">
                <font color="">такое невозможно</font>
        </td>
    </tr></tbody></table></td></tr>
<tr>
<td align="center"> <font size="4" color="#990000">15</font></td>
<td align="center">
    <b>
        <font color="">Три пятых учащихся в классе - девочки. В этот класс пришло еще 5 девочек и 5 мальчиков. Кого в классе больше? </font>
    </b>
</td>
<td>
<table width="100%" height="100%" border="1" cellpadding="0" cellspacing="0" align="center" id="table37">	<tbody><tr>
        <td id_tdc1="s15x1" width="50" align="center" valign="middle">
            <input type="checkbox" name="C22" value="ON">
        </td>
        <td id_tdc2="s15" align="left" valign="middle">
                <font color="">девочек</font>
        </td>
    </tr>	<tr>
        <td id_tdc1="s15x2" width="50" align="center" valign="middle">
            <input type="checkbox" name="C21" value="ON">
        </td>
        <td id_tdc2="s15" align="left" valign="middle">
                <font color="">поровну</font>
        </td>
    </tr>	<tr>
        <td id_tdc1="s15x3" width="50" align="center" valign="middle">
            <input type="checkbox" name="C20" value="ON">
        </td>
        <td id_tdc2="s15" align="left" valign="middle">
                <font color="">мальчиков</font>
        </td>
    </tr>	<tr>
        <td id_tdc1="s15x4" width="50" align="center" valign="middle">
            <input type="checkbox" name="C19" value="ON">
        </td>
        <td id_tdc2="s15" align="left" valign="middle">
                <font color="">в зависимости от первоначального кол-ва учеников в классе</font>
        </td>
    </tr>	<tr>
        <td id_tdc1="s15x5" width="50" align="center" valign="middle">
            <input type="checkbox" name="C18" value="ON">
        </td>
        <td id_tdc2="s15" align="left" valign="middle">
                <font color="">ни одно из вышеперечисленных</font>
        </td>
    </tr></tbody></table></td></tr>
<tr class="r_gray" my_class="r_gray" line_type="vopros">
<td align="center"> <font size="4" color="#990000">16</font></td>
<td align="center">
    <b>
        <font color="">Что из нижеперечисленного у человека может за несколько секунд увеличиться в диаметре в 7 раз? </font>
    </b>
</td>
<td>
<table width="100%" height="100%" border="1" cellpadding="0" cellspacing="0" align="center" id="table38">	<tbody><tr>
        <td id_tdc1="s16x1" width="50" align="center" valign="middle">
            <input type="checkbox" name="C17" value="ON">
        </td>
        <td id_tdc2="s16" align="left" valign="middle">
                <font color="">зрачок</font>
        </td>
    </tr>	<tr>
        <td id_tdc1="s16x2" width="50" align="center" valign="middle">
            <input type="checkbox" name="C16" value="ON">
        </td>
        <td id_tdc2="s16" align="left" valign="middle">
                <font color="">пенис</font>
        </td>
    </tr>	<tr>
        <td id_tdc1="s16x3" width="50" align="center" valign="middle">
            <input type="checkbox" name="C15" value="ON">
        </td>
        <td id_tdc2="s16" align="left" valign="middle">
                <font color="">сердце</font>
        </td>
    </tr>	<tr>
        <td id_tdc1="s16x4" width="50" align="center" valign="middle">
            <input type="checkbox" name="C14" value="ON">
        </td>
        <td id_tdc2="s16" align="left" valign="middle">
                <font color="">желудок</font>
        </td>
    </tr>	<tr>
        <td id_tdc1="s16x5" width="50" align="center" valign="middle">
            <input type="checkbox" name="C13" value="ON">
        </td>
        <td id_tdc2="s16" align="left" valign="middle">
                <font color="">легкие</font>
        </td>
    </tr>	<tr>
        <td id_tdc1="s16x6" width="50" align="center" valign="middle">
            <input type="checkbox" name="C11" value="ON">
        </td>
        <td id_tdc2="s16" align="left" valign="middle">
                <font color="">все из вышеперечисленного</font>
        </td>
    </tr>	<tr>
        <td id_tdc1="s16x7" width="50" align="center" valign="middle">
            <input type="checkbox" name="C12" value="ON">
        </td>
        <td id_tdc2="s16" align="left" valign="middle">
                <font color="">ничего из вышеперечисленного</font>
        </td>
    </tr></tbody></table></td></tr>
<tr>
<td align="center"> <font size="4" color="#990000">17</font></td>
<td align="center">
    <b>
        <font color="">На автомобиле, использующем зимой шипованную резину, сзади обязательна должна быть соответствующая наклейка. Зачем? </font>
    </b>
</td>
<td>
<table width="100%" height="100%" border="1" cellpadding="0" cellspacing="0" align="center" id="table39">	<tbody><tr>
        <td id_tdc1="s17x1" width="50" align="center" valign="middle">
            <input type="checkbox" name="C10" value="ON">
        </td>
        <td id_tdc2="s17" align="left" valign="middle">
                <font color="">чтобы не пытались с ним соревноваться в скорости</font>
        </td>
    </tr>	<tr>
        <td id_tdc1="s17x2" width="50" align="center" valign="middle">
            <input type="checkbox" name="C9" value="ON">
        </td>
        <td id_tdc2="s17" align="left" valign="middle">
                <font color="">чтобы пропускали</font>
        </td>
    </tr>	<tr>
        <td id_tdc1="s17x3" width="50" align="center" valign="middle">
            <input type="checkbox" name="C8" value="ON">
        </td>
        <td id_tdc2="s17" align="left" valign="middle">
                <font color="">чтобы выбирали правильную дистанцию</font>
        </td>
    </tr>	<tr>
        <td id_tdc1="s17x4" width="50" align="center" valign="middle">
            <input type="checkbox" name="C7" value="ON">
        </td>
        <td id_tdc2="s17" align="left" valign="middle">
                <font color="">чтобы уважали</font>
        </td>
    </tr>	<tr>
        <td id_tdc1="s17x5" width="50" align="center" valign="middle">
            <input type="checkbox" name="C6" value="ON">
        </td>
        <td id_tdc2="s17" align="left" valign="middle">
                <font color="">ни одно из вышеперечисленных</font>
        </td>
    </tr></tbody></table></td></tr>
<tr class="r_gray" my_class="r_gray" line_type="vopros">
<td align="center"> <font size="4" color="#990000">18</font></td>
<td align="center">
    <b>
        <font color="">Сила тяжести действует на... </font>
    </b>
</td>
<td>
<table width="100%" height="100%" border="1" cellpadding="0" cellspacing="0" align="center" id="table40">	<tbody><tr>
        <td id_tdc1="s18x1" width="50" align="center" valign="middle">
            <input type="checkbox" name="C5" value="ON">
        </td>
        <td id_tdc2="s18" align="left" valign="middle">
                <font color="">яблоко, висящее на яблоне</font>
        </td>
    </tr>	<tr>
        <td id_tdc1="s18x2" width="50" align="center" valign="middle">
            <input type="checkbox" name="C4" value="ON">
        </td>
        <td id_tdc2="s18" align="left" valign="middle">
                <font color="">падающее яблоко</font>
        </td>
    </tr>	<tr>
        <td id_tdc1="s18x3" width="50" align="center" valign="middle">
            <input type="checkbox" name="C3" value="ON">
        </td>
        <td id_tdc2="s18" align="left" valign="middle">
                <font color="">упавшее яблоко</font>
        </td>
    </tr>	<tr>
        <td id_tdc1="s18x4" width="50" align="center" valign="middle">
            <input type="checkbox" name="C2" value="ON">
        </td>
        <td id_tdc2="s18" align="left" valign="middle">
                <font color="">все из вышеперечисленного</font>
        </td>
    </tr>	<tr>
        <td id_tdc1="s18x5" width="50" align="center" valign="middle">
            <input type="checkbox" name="C1" value="ON">
        </td>
        <td id_tdc2="s18" align="left" valign="middle">
                <font color="">ни одно из вышеперечисленных</font>
        </td>
    </tr></tbody></table></td></tr>
<tr>
<td align="center"> <font size="4" color="#990000">19</font></td>
<td align="center">
    <b>
        <font color="">1000 + 40 + 1000 + 30 + 1000 + 20 + 1000 + 10 = ... </font>
    </b>
</td>
<td>
<table width="100%" border="1" cellpadding="0" cellspacing="0" align="center" id="table41">	<tbody><tr>
        <td id_tdc1="s19" width="50" align="center" valign="middle">
        
        <div align="left">
            &nbsp;
            <input id="s19" name="s19" size="15" maxlength="15" value="">
        </div>	
        
        </td>
            </tr></tbody></table></td></tr>
<tr class="r_gray" my_class="r_gray" line_type="vopros">
<td align="center"> <font size="4" color="#990000">20</font></td>
<td align="center">
    <b>
        <font color="">У отца Мэри есть пять дочерей: Чача, Чече, Чичи, Чочо и ... </font>
    </b>
</td>
<td>
<table width="100%" border="1" cellpadding="0" cellspacing="0" align="center" id="table42">	<tbody><tr>
        <td id_tdc1="s20" width="50" align="center" valign="middle">
        
        <div align="left">
            &nbsp;
            <input id="s20" name="s20" size="15" maxlength="15" value="">
        </div>	
        
        </td>
            </tr></tbody></table></td></tr></tbody></table>


            <div class="container my-5 ">
    
                    <div class="row">
                        <div class="col text-center">
                            <input class="btn btn-primary w-50" type="submit" value="Проверить ответы">
                        </div>
                    </div>
                </form>
            </div>
{% endblock %}